body * {
    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */
}

.team-selector {
    /*color: white !important;*/
    /*border-color: white !important;*/
    /*background-color: #f5f5f5 !important;*/
}

.app-bar-toolbox {
    width: 100%;
}