.match-header-container {
    padding: 15px 3px 15px 3px;
}

.header-score {
    color: white;
    background-color: #e90052;
    min-height: 70px;
    width: 80%;
}

.header-score > * {
    padding: 0 5px 0 5px;
}

@media only screen and (max-width: 600px)
{
    .header-score {
        width: 100%;
    }

    .team-selector-container {
        max-width: 150px;
    }

    .league-selector-container {
        max-width: 150px;
    }

    .league-selector {
        width: 100%;
    }

}
