/*
.match-event * {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
*/

.match-event {
    height: 80px;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-color: #ababab;
}

.match-event.important-event {
    color: white;
    background-color: #e90052
}

.match-event-icon-container {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 0px;
}

.match-event-date {
    margin-top: 0px;
    padding-left: 2px;
    padding-right: 15px;
    width: 30px;
}

.match-event-photo img {
    height: 80px;
    padding-right: 10px;
}

.match-event-type-text {
    /*width: 150px;*/

    font-size: 18px !important;
}

.match-event-name-text {
    font-size: 14px !important;
}

.match-event-date-date {

}

.match-event-date-time {

}