.chipstrip-team {
    font-size: 16px;
}

#bootstrap-overrides .chip-unavailable {
    text-decoration: line-through;
}

#bootstrap-overrides .chipstrip-chip {
    padding: 5px;
    overflow: hidden;
    font-weight: 300;
}

#bootstrap-overrides .chip-selected {
    font-weight: 700;
}