.event-scrollable {
	height: 300px;
	overflow-y: auto;
}

.event-important {
	font-weight: bold;
}

.event-common {
	background-color: #F2F093
}

.event-mine {
	background-color: #98e698
}

.event-theirs {
	background-color: #F2B8AE
}

.event-icon img {
	height: 16px;
	width: 16px;
}

.events-table .event-time {
	font-weight: bold;
	width: 15%;
}

.events-table .event-icon {
	width: 10%;
}

.events-table .event-description {
	width: 80%;
}

.events-table {
	margin: auto;
	float: none;
	width: 100%;
}

.events-table table tbody tr:nth-child(even) {
	background: rgba(0,0,0,0.017);
}

.events-table tr td {
	padding: 2px;
	font-size: 12px;
	width: 100%;
}

.events-table-header {
	text-align: center;
	font-weight: bold;

	padding: 10px;
}