.team-highlight {
    position: relative;
    background-color: #ffffffd0;
    background-size: 33%;
	background-repeat: repeat;
	max-width: 100%;
}

.team-highlight img {
	max-height: 100%;
    max-width: 100%;
}

.highlight-text {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 75%;
	left: 0;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF
}

.highlight-background {
	position: absolute;
	margin: auto;
	left: 0;
	top: 75%;
	height: 25%;
	width: 100%;
	color: #3a3a3a;
	background-color: #3a3a3a;
	opacity: 0.8
}