.live-standings-scrollable {
	height: 300px;
	overflow-y: auto;
}

.live-standings-table table tbody tr:nth-child(even) {
	background: rgba(0,0,0,0.017);
}

.live-standings-highlighted {
    background-color: #ccccccbd !important;
}

.live-standings-header {
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.live-standings-table th {
	padding: 2px;
	font-size: 10px;
}

.live-standings-table tr td {
	padding: 2px;
	font-size: 12px;
}

.live-standings-num {
    width: 6%;
}

.live-standings-name {
    width: 40%;
}

.live-standings-record {
    width: 15%;
}

.live-standings-points-for {
    width: 8%;
}

.live-standings-points-total {
    width: 8%;
}
