.league-header {
    font-size: 10px;
    text-align: center;
}

.match-strip-container {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;   
}

.match-strip-row {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;  
    border-left: 0px; 
    border-right: 0px;
}

.match-strip {
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.match-strip-height {
    height: 70px
}

.match-strip .score {
    color: #1d1e1f;
    width: 40px;
    display: block;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.match-strip .sub-score {
    color: #1d1e1f;
    width: 40px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    min-width: 40px;
    position: relative;
}

.match-strip .team-name-box {
    width: 30%;
}

.match-strip .team-name {
    font-size: 18px;
    color: #1d1e1f;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.match-strip .team-record {
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
}

.match-strip .player-name {
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
}

.match-time {
    color: #48494a;
    display: block;
    font-size: 12px;
    line-height: 1;
    min-width: 60px;
    padding: 2px 0;
}

.kit {

}

.kit-overlay {
    position: absolute;
    height: 100%;
}

.kit-overlay polygon {
    fill: white;
}

.kit-shirt {
    width: 30px;
    height: 100%;
}

.kit-shirt-sleeves {
    width: 10px;
    height: 100%;
}

.kit-shorts {
    width: 20px;
    height: 100%;
}

.kit-socks-base-top {
    width: 8px;
    height: 100%;
}

.kit-socks-base-bottom {
    width: 20px;
    height: 100%;
}

.kit-socks-secondary {
    width: 5px;
    height: 100%;
}