.bg-mine {
    background-color: #307a30;
    color: #ebebeb;
}

.bg-mine a {
    color: #ebebeb;
}

.bg-color-dark {
	background-color: #307a30
}

.trophy-img {
	height: 200px;
	width: 200px;
}

.gameweek-selector {
	width: 70px;
}
