.scouting-stats-table-left {
    direction: ltr
}

.scouting-stats-table-left .stats-table-name {
    text-align: left;
}

.scouting-stats-table-left .stats-table-value {
    text-align: right;
}

.scouting-stats-table-right {
    direction: rtl
}

.scouting-stats-table-right .stats-table-name {
    text-align: right;
}

.scouting-stats-table-right .stats-table-value {
    text-align: left;
}

.stats-table-name {
	width: 50% !important
}

.stats-table-value {
	width: 50% !important
}